@import "tailwindcss";

@theme {
  /* Initial means override tailwind default colors */
  --color-*: initial;

  --color-primary: var(--c-primary);
  --color-secondary: var(--c-secondary);
  --color-tertiary: #6b7280;
  --color-forth: #e5e7eb;
  --color-pure: var(--c-pure);

  --color-black: var(--c-bg);
  --color-white: #ffffff;
  --color-blue: #2563eb;
  --color-card: var(--c-card);

  --color-bor: var(--c-border);
}

:root[data-theme="light"] {
  --c-bg: #f4f7f8;
  --c-primary: #000000;
  --c-secondary: #74777f;
  --overlay-soft: rgba(244, 247, 248, 0.8);
  --overlay-strong: rgba(244, 247, 248, 1);
  --c-pure: #ffffff;
  --c-border: rgba(0, 0, 0, 0.1);
  --c-card: #0b0b0d;
}
:root[data-theme="dark"] {
  --c-bg: #0b0b0d;
  --c-primary: #ffffff;
  --c-secondary: #a1a1aa;
  --overlay-soft: rgba(11, 11, 13, 0.8);
  --overlay-strong: rgba(11, 11, 13, 1);
  --c-pure: #0b0b0d;
  --c-border: rgba(255, 255, 255, 0.1);
  --c-card: #0b0b0d;
}

@layer base {
  :root,
  html,
  body {
    background-color: var(--color-black);
    color: var(--color-primary);
    /* This ensures a smooth font smoothing on Mac */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
