@import "tailwindcss";

@theme {
  /* Initial means override tailwind default colors */
  --color-*: initial;
  --color-primary: #ffffff;
  --color-secondary: #a1a1aa;
  --color-tertiary: #6b7280;
  --color-forth: #e5e7eb;

  --color-black: #0b0b0d;
  --color-hover: #1a1a22;
  --color-card: #121217;
  --color-blue: #2563eb;

  --color-border: rgba(255, 255, 255, 0.08);
  --divider: rgba(255, 255, 255, 0.05);
}

@layer base {
  :root,
  html,
  body {
    background-color: var(--color-black);
    color: var(--color-primary);
    /* This ensures a smooth font smoothing on Mac */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *,
  ::after,
  ::before {
    border-color: var(--color-border);
  }
}
