@import "tailwindcss";

:root {
  --background: #ffffff;
  --text : #ffffff;
  --text2: #cfcfcf;
  --textDark:#000000;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-roboto);
  --color-text: var(--text);
  --color-text2: var(--text2);
}

/* regular CSS , It detects the user's OS dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --text: #442121;
  }
} */

body {
  background: var(--background);
  color: var(--text);
}
